*:focus {
  outline: none;
}

.sort-wrapper {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.sort-main {
  display: flex;
  align-items: center;
}

.logo {
  min-width: 130px;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo span {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 5 px;
}

.logo-icon {
  font-size: 30px;
  opacity: 0.8;
  padding-bottom: 5px;
}

.button {
  border: 1px solid #919191;
  background-color: #919191;
  transition: 0.3s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  margin-left: 0;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
}

.sort-input-area {
  display: flex;
  justify-content: center;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input.form-control {
  border: 0.5px solid #919191;
  border-right: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 32px;
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 1px;
  opacity: 0.8;
  box-shadow: none !important;
  outline: none !important;
}

input[type="search"] {
  padding-left: 40px;
  padding-bottom: 5px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
  color: #919191;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url("https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg")
    no-repeat 20% 50%;
  background-size: contain;
  opacity: 0.5;
  cursor: pointer;
}

.input-group:focus-within ~ .button {
  background-color: orange;
  border: 0;
  color: white;
}

.input-group:focus-within .input {
  border: 1px solid orange;
}

.error {
  margin-top: 50px;
  font-weight: 500;
  color: #919191;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error > .error-explain {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 15px;
}

.error > .error-explain > span {
  color: rgb(77, 77, 77);
  font-size: 20px;
  margin-right: 5px;
  font-weight: 700;
}

.error > .error-icon-wrap {
  display: flex;
  justify-content: center;
}

.error > .error-icon-wrap > .error-icon {
  font-size: 120px;
  color: rgb(238, 160, 97);
}

.filtered-part {
  width: 80%;
}

.input::-webkit-calendar-picker-indicator {
  display: none !important;
}

datalist {
  width: 300px;
}
